<div class="back">
    <nav>
        <div class="text-center" style="font-weight: bold;">
            <span style="margin:20px;font-family: 'Times New Roman', Times, serif;font-size: 30px;"> {{title}} </span>
        </div>
        <div class="text-center">
            <a href="login" class="btn btn-primary" id="alogin">Admin Login</a><br><br>
            <a href="emplogin" class="btn btn-success" id="elogin">Employee Login</a>
        </div>
        <div class=" mb-5 text-center">
            <!-- <img src="/assets/login.jpg"> -->
        </div>
        <div class="container">
            <router-outlet></router-outlet>

        </div>

    </nav>


    <!-- 
    <div style="background-color: black;">
        <footer class="footer" style="font-size:20px">
            <div>
             <span><b>Contact us</b></span><br>
             <span>Email id: <i>group3@gmail.com</i></span><br>
             <span>Phone number: <i>9999999999</i></span><br>
             </div>
    </footer>
    </div> -->