.container {
    max-width: 470px;
    border-radius: 10px;
    border-radius: 15px;
    box-shadow: 60px -16px #fccd88;
    margin-top: 10px;
}

.textual {
    text-align: center;
    font-family: serif;
    font-weight: bolder;
}

label {
    font-weight: bold;
    color: #d49432;
}

span {
    color: rgb(9, 99, 235);
    
    
}