<br><br><h2 style=" text-align: center">Attendance List of Employee</h2>
<br><br>
<table class="table" style="width: 70%;margin-left: 14.8%;text-align: center;">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{attend.empId}}</td>
            <td> {{attend.date}}</td>
            <td> {{attend.status}}</td>
        </tr>
    </tbody>
</table>
&nbsp;&nbsp;&nbsp;
<div style="align-items: center;margin-left: 93.4%;"><button class="btn btn-outline-danger" (click)="Back()" >Back</button></div>